* {
    margin: 0;
    padding: 0;
}

.profilJoueurConteneur {
    padding: 1vh;
    background-color: white;
    border: 1px solid black;
    margin: 2vh;
    cursor: pointer;
}

.courant {
    background-color: wheat;
}

.basic {
    background-color: white;
}